.toggle {
  --width: 4rem;
  --height: calc(var(--width) / 2);
  --border-radius: calc(var(--height) / 2);

  display: inline-block;
  cursor: pointer;

  .toggle-input {
    display: none;

    &:checked ~ .toggle-fill {
      background: #36aff3;

      &::after {
        transform: translateX(var(--height));
      }
    }
  }

  .toggle-fill {
    position: relative;
    width: var(--width);
    height: var(--height);
    border-radius: var(--border-radius);
    background: #dddddd;
    transition: background 0.2s;

    &::after {
      content: "";
      position: absolute;
      top: 3px;
      left: 4px;
      height: calc(var(--width) / 2.5);
      width: calc(var(--width) / 2.5);
      background: #ffffff;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
      border-radius: var(--border-radius);
      transition: transform 0.2s;
    }
  }
}